*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --lightgrey:rgba(74, 74, 74, 1);
    --succes:rgba(73, 195, 2, 1);
    --fail:rgba(229, 16, 16, 1);
    --nav:rgba(34, 34, 34, 1);
}
body{
    background-color: black;
}

/* header */

header{
    color: white;
    margin-bottom: 4rem;
}

.Speaker,.direction{
    border: 1px solid var(--lightgrey);
    background-color: var(--lightgrey);
    padding: 0.3rem;    
    margin-left: 0.5rem;
    border-radius: 5px  ;
}

.flex{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

/* /header */

/* main */

.tag{
    position: absolute;
    color: white;
    background-color: var(--lightgrey);
    border: 1px solid var(--lightgrey);
}

.container {
    display: flex;
    /* margin: 30px 10px; */
    /* width: 100%; */
    /* justify-content: space-between; */
    justify-content: space-between;
    max-width: 1308px;
    margin: 15px auto;
}

.img{
    display: flex;
    align-items: flex-end;

}
/* /main */

/* footer */

.container_footer{
    width: 100%;
    display: flex;
    background-color:var(--nav);
    height: 75px;
    align-items: center;
}

.personal{
    width: 20%;
    color: white;
    display: flex;
}

.member{
    width: 60%;
    color: white;
    /* display: flex; */
}

.container_footer span{
    text-align: center;
}

ul{
    list-style: none;
     display: flex;
    column-gap: 2rem;
}

li{
    text-align: center;
}

.bglight{
    background-color: var(--lightgrey);
    
}

.span{
    display: flex;
    font-size: 12px;
    text-align: center;
}

.fa-chevron-up{
    align-self: center;
}

.end{
    color: red;
    display: flex;
}


